* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent div {
    padding: 20px;
    background-color: turquoise;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

@media (max-width: 767px) {}

@media (min-width:768px) and (max-width: 991px) {
    .parent div {
        width: calc(50% - 10px);
    }
}

@media (min-width: 992px) {
    .parent div {
        width: calc(25% - 10px);
    }
}

@media (min-width: 1200px) {}