:root {
    --mine-color: #10cab7;
    --second-color: #2c4755;
    --section-padding: 60px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: work-sans, sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    color: #ebeced;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0px;
    font-size: 20px;
    text-align: center;
    color: #797979;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 50px;
    }

    .special-heading+p {
        margin-top: 15px;
    }
}

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    width: 70px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #222;
    margin-bottom: 6px;
}

.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 60%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .links .icon span:last-child {
    height: 2px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.landing {
    background-image: url(../medie/aiguille-du-grepon-mont-blanc-massif.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
    color: var(--mine-color);
}

.landing .intro-text p {
    line-height: 1.8;
    font-size: 20px;
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    font-size: 40px;
    color: var(--mine-color);
    margin-bottom: 15px;
}

.features .feat h3 {
    font-weight: 800;
    line-height: 1.8;
    margin: 30px 0;

}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 20px;
}

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}


.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {

    .services .services-content .srv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

.services .services-content .srv i {
    color: var(--mine-color);
    flex-basis: 60px;
}

.services .srv .text {
    flex: 1;
}

.services .srv .text h3 {
    margin: 0 0 15px;
}

.services .srv .text p {
    line-height: 1.8;
    color: #777;
    font-weight: 800;
}

.services .imge {
    text-align: center;
    position: relative;
}

img {
    width: 50%;
    height: auto;
}

.services .imge::before {
    content: "";
    background-color: var(--second-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .imge-1 {
        display: none;
    }
}

.portofolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.portofolio .portofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.portofolio .card {
    background-color: white;
}

.portofolio .card img {
    width: 100%;
    height: auto;
}

.portofolio .card .info {
    padding: 20px;
}

.portofolio .card .info h3 {
    margin: 0 0 15px;
}

.portofolio .card .info p {
    line-height: 1.8;
    color: #777;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .portofolio .card .info {
        text-align: center;
    }
}

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .imge {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .imge::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .imge::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 60px solid var(--mine-color);
    border-bottom: 60px solid var(--mine-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-content .imge::after {
        display: none;
    }

    .about .about-content .imge::before {
        display: none;
    }

    .about .about-content .imge {
        margin: 0 auto 50px;
    }

}

.about .about-content .imge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-content .text {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .about .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }

    .about .about-content .text {
        text-align: center;
        margin-top: 20px;
    }
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 45px;
    text-align: center;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mine-color);
}

.about .about-content .text p:last-of-type {
    line-height: 1;
    color: #777;
    text-align: right;
}

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    margin-bottom: -50px;
}

.contact .info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: -70px;
}

.contact .info .lable {
    font-size: 30px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
    margin-top: 0;
}

.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--mine-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 26px;
    margin-top: 50px;
}

.contact .info .social i {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact .info .social a {
    color: var(--second-color);
    text-decoration: none;
    margin: 0 10px;
}